nav.navigation {
 line-height: 1.31579;
 font-family: "GDS Transport",arial,sans-serif;
 font-weight: 400;
 text-transform: none;
 border-bottom: 1px solid #bfc1c3;
}

nav.navigation ul {
 margin-block-start: 0;
 margin-block-end: 0;
 padding-inline-start: 20px;
}

nav.navigation ul li {
 display: inline-block;
 margin: 0 0.5em;
}

nav.navigation ul li .badge {
 background: #B10E1E;
 border-radius: 10px;
 color: #FFF;
 display: inline-block;
 font-size: 14px;
 font-weight: 600;
 min-width: 6px;
 padding: 3px 10px 1px 9px;
 text-align: center;
 white-space: nowrap;
}

nav.navigation ul li a {
 font-size: 16px;
}
